<div class="block" >
  <div class="w-full">
    <turbo-frame id="<%= dom_id task %>" class="block" >
      <%= form_with(model: task, class:"group relative bg-blue-200 p-6 rounded-lg focus-within:ring-2") do |form| %>
        <%= task.result %>
      <% end %>
      <div class="inline-block ml-2 btn bg-green-100">
        <div data-controller="copy-button">
          <input type="hidden"  data-copy-button-target="source" value="<%= task.result %>">
          <button data-action="click->copy-button#copy" >
            <%=t("tasks._task.copy_button")%>
          </button>
        </div>
      </div>
      <div class="inline-block ml-2">
        <%= button_tag t("tasks._task.all_posts_button"), class: "btn bg-blue-100", onclick: "location.href='#{root_path}'" %>
      </div>
      <!--#? Nasser:  will be uncomment soon-->
      <!--#? 
      <div class="inline-block ml-2">
        <%= button_to t("tasks._task.delete_button"), task_path(task), method: :delete, data: { "turbo-frame": "_top" },class: "btn bg-red-100" %>
      </div>
      -->
    </turbo-frame>
  </div>
</div>
