<!DOCTYPE html>
<html>
  <head>
    <title>Apptemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    TasksGenie
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= button_to 'Sign out', users_sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', users_sign_in_path ,  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>
    <%= yield %>
    
    
  </body>
</html>
