<!DOCTYPE html>
<html>
  <head>
    <title>Apptemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    TasksGenie
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= button_to 'Sign out', auth_sign_out_path, method: :delete %>
    <% else %>
      <%= button_to 'Sign in', sign_in_path, method: :post %>
    <% end %>
    <%= yield %>
    
    
  </body>
</html>
